Source: ssh-honeypotd
Section: net
Priority: optional
Maintainer: Volodymyr Kolesnykov <volodymyr@wildwolf.name>
Build-Depends: debhelper (>= 7.0.50~), libssh-dev, dh-apparmor
Standards-Version: 3.9.5
Vcs-Git: https://github.com/sjinks/ssh-honeypotd.git

Package: ssh-honeypotd
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, lsb-base (>= 3.2-14)
Suggests: fail2ban, apparmor, openssh-client
Description: Low-interaction honeypot for SSH
 ssh-honeypotd is a daemon that simulates an SSH server
 and logs every attempt to log in.

Package: ssh-honeypotd-dbg
Depends: ${misc:Depends}, ssh-honeypotd (= ${binary:Version})
Recommends: gdb
Section: debug
Priority: extra
Architecture: any
Description: Debug symbols for ssh-honeypotd
 ssh-honeypotd is a daemon that simulates an SSH server
 and logs every attempt to log in.
