#!/usr/bin/make -f

CFLAGS += -O2 -g3

%:
	dh $@ --with systemd

override_dh_install:
	dh_apparmor --profile-name=usr.sbin.ssh-honeypotd -p ssh-honeypotd
	dh_install

override_dh_auto_build:
	make CFLAGS="$(CFLAGS)"

override_dh_strip:
	dh_strip --dbg-package=ssh-honeypotd-dbg
