name: Build

on:
  push:
  workflow_dispatch:

jobs:
  build:
    permissions:
      contents: read
    name: Build
    runs-on: ubuntu-latest
    if: ${{ !contains(github.event.head_commit.message, '[ci skip]') || github.event_name == 'workflow_dispatch' }}
    strategy:
      fail-fast: true
      matrix:
        CPPFLAGS:
          - ""
          - "-DMINIMALISTIC_BUILD -DLIBSSH_STATIC=1"
    steps:
      - name: Check out source code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Install dependencies
        run: sudo apt-get -qq update && sudo apt-get install -y libssh-dev

      - name: make
        run: make CPPFLAGS="${{ matrix.CPPFLAGS }}" CFLAGS="-O2"
